@using Microsoft.AspNetCore.Authentication;
@using Ubik.Accounting.WebApp.Security
@* @inject UserService UserService; *@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Ubik.Accounting.WebApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <persist-component-state />
</body>

</html>

@code {
    // [CascadingParameter]
    // public HttpContext? HttpContext { get; set; }

    // protected override async Task OnInitializedAsync()
    // {
    //     var accessToken = await HttpContext!.GetTokenAsync("access_token");
    //     var refreshToken = await HttpContext!.GetTokenAsync("refresh_token");
    //     UserService.SetToken(new TokenProvider { AccessToken = accessToken, RefreshToken = refreshToken });

    //     //return base.OnInitializedAsync();
    // }
}




