@using Microsoft.AspNetCore.Authentication;
@using Ubik.Accounting.WebApp.Security
@* @inject UserService UserService; *@

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="css/app.css" />
    <link rel="stylesheet" href="Ubik.Accounting.WebApp.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    @* <HeadOutlet /> *@
    <script>
        if (localStorage.getItem('color-theme') === 'dark' || (!('color-theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches)) {
            document.documentElement.classList.add('dark');
        } else {
            document.documentElement.classList.remove('dark')
        }
    </script>
</head>

<body>
    <Routes />
    <script src="_framework/blazor.web.js"></script>
    <script src="js/layout.js"></script>
</body>

</html>





