<div class="flex flex-col sm:flex-row items-center mb-2 mt-2 sm:mb-3 sm:mt-3 p-4 mb-4 text-sm text-yellow-800 rounded-lg bg-yellow-50 dark:bg-gray-800 dark:text-yellow-300" role="alert">
    <svg class="flex-shrink-0 inline w-10 h-10 sm:w-12 sm:h-12 mb-3 sm:mb-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
        <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
    </svg>
    <span class="sr-only">Info</span>
    <div class="text-center ps-0 sm:ps-5 sm:text-left">
        <p class="text-yellow-800 dark:text-yellow-300">
            <span class="font-medium">Read only mode</span>
        </p>
        <p>
            You can only consult data in this part of the app. Ask your administrator, if you need more rights.
        </p>
    </div>
</div>

@code {

}
