@typeparam TGridItem
@using Microsoft.AspNetCore.Components.Rendering
@using Ubik.Accounting.WebApp.Client.Components.Common.Buttons
@using Ubik.Accounting.WebApp.Client.Components.Common.Spinners

<table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
    <thead class="text-xs text-gray-700 uppercase bg-gray-100 dark:bg-gray-700 dark:text-gray-400">
        <tr>
            @_renderColumnHeaders
        </tr>
    </thead>
    <tbody>
        @_renderLoading
        @_renderRows
    </tbody>
</table>

@code {
    private int _counter = 0;

    private void RenderColumnHeaders(RenderTreeBuilder __builder)
    {
        @if (FieldNames != null)
        {
            @foreach (var fieldName in FieldNames)
            {
                <th scope="col" class="px-6 py-3">
                    @fieldName
                </th>
            }
            @if (EditAndRemoveButton)
            {
                <th scope="col" class="px-6 py-3">

                </th>
                <th scope="col" class="py-4 py-3">

                </th>
            }
        }
    }

    private void RenderRows(RenderTreeBuilder __builder)
    {
        @if (Items != null && FieldNames != null)
        {
            @foreach (var item in Items)
            {
                _counter = 0;
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                    @foreach (var column in FieldNames)
                    {
                        if (_counter == 0)
                        {
                            <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                @item!.GetType().GetProperty(column)!.GetValue(item, null)
                            </th>
                        }
                        else
                        {
                            <td class="px-6 py-4">
                                @item!.GetType().GetProperty(column)!.GetValue(item, null)
                            </td>
                        }
                        _counter++;
                    }
                    @if (EditAndRemoveButton)
                    {
                        <td class="py-4 py-3">
                            <UbikButtonLink Type="button" Label="Edit" TItem="TGridItem" OnClick="() => EditItem(item)"></UbikButtonLink>
                        </td>
                        <td class="py-4 py-3">
                            <UbikButtonLink AdditionalCssClass="pr-4" Type="button" Label="Delete" TItem="TGridItem" OnClick="() => DeleteItem(item)"></UbikButtonLink>
                        </td>
                    }
                </tr>
            }
        }
    }

    private void RenderLoading(RenderTreeBuilder __builder)
    {
        @if (Items == null || FieldNames == null)
        {
            <SpinnerInTable ColSpan="@_columnNumber"></SpinnerInTable>
        }
    }
}
