<div class="mt-6 text-wrap p-4 md:p-5">
    <h3 class="text-lg font-normal text-gray-500 dark:text-gray-400">Choose an action for the account group (@CurrentAccountGroup.Code)</h3>
    <div class="mb-8 mt-5 flex flex-col text-blue-700 dark:text-blue-400">
        <div class="flex cursor-pointer flex-row items-center" @onclick="EditAccountGroup">
            <div>
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                </svg>
            </div>
            <div class="ms-3">
                Edit account group
            </div>
        </div>
        <div class="mt-3 flex cursor-pointer flex-row items-center" @onclick="DeleteAccountGroup">
            <div>
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                </svg>
            </div>
            <div class="ms-3">
                Delete account group
            </div>
        </div>
        <div class="mt-3 flex cursor-pointer flex-row items-center">
            <div>
                <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v6m3-3H9m12 0a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z" />
                </svg>
            </div>
            <div class="ms-3">
                Add a sub account group
            </div>
        </div>
        <div class="mt-3 flex cursor-pointer flex-row items-center">
            <div>
                <svg class="h-6 w-6"  xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 0 1 1.242 7.244l-4.5 4.5a4.5 4.5 0 0 1-6.364-6.364l1.757-1.757m13.35-.622 1.757-1.757a4.5 4.5 0 0 0-6.364-6.364l-4.5 4.5a4.5 4.5 0 0 0 1.242 7.244" />
                </svg>
            </div>
            <div class="ms-3">
                Attach an account
            </div>
        </div>
    </div>
    <div class="text-center">
        <button @onclick="() => CloseAsync()" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Cancel</button>
    </div>
</div>

@code {
    [CascadingParameter(Name = "AccountGroupModel")]
    public AccountGroupModel CurrentAccountGroup { get; set; } = default!;

    [Parameter]
    public EventCallback<bool> OnCloseAsync { get; set; }
    [Parameter]
    public EventCallback<AccountGroupModel> OnEditAccountGroupAsync { get; set; }
    [Parameter]
    public EventCallback<AccountGroupModel> OnDeleteAccountGroupAsync { get; set; }

    private async Task CloseAsync()
    {
        await OnCloseAsync.InvokeAsync();
    }

    private async Task EditAccountGroup()
    {
        await CloseAsync();
        await OnEditAccountGroupAsync.InvokeAsync(CurrentAccountGroup);
    }

    private async Task DeleteAccountGroup()
    {
        await CloseAsync();
        await OnDeleteAccountGroupAsync.InvokeAsync(CurrentAccountGroup);
    }

}
