@page "/counter"
@using Microsoft.AspNetCore.Authorization
@using Ubik.Accounting.Contracts.Accounts.Results
@using Ubik.Accounting.WebApp.ApiClients
@using Ubik.Accounting.WebApp.Security
@inject UserService UserService;
@inject AccountingApiClient Client;
@* @rendermode InteractiveServer
 *@
@attribute [Authorize]

    <PageTitle>Counter</PageTitle>

    <h1>Counter</h1>

    <p role="status">Current count: @currentCount</p>

    <button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

    @if (_accounts != null)
    {
        <ul>
            @foreach (var account in _accounts)
            {
                <li>
                    @account
                </li>
            }
        </ul>
    }

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    private string claims = string.Empty;
    private string token = string.Empty;
    private IEnumerable<GetAccountResult>? _accounts;

    protected override async Task OnInitializedAsync()
    {
        foreach (var claim in UserService.GetUser().Claims)
        {
            claims = claims + claim.Type + ": " + claim.Value + Environment.NewLine;
        }

        _accounts = await Client.GetAllAccounts();

    }

}
