@page "/"
@using Ubik.Accounting.WebApp.Security
@inject UserService UserService;
@attribute [Authorize]

<PageTitle>Home</PageTitle>
<PageScript Src="./js/theme-switcher.js" />

Welcome to your new app.
<FluentCard>
  <h2>Hello World!</h2>
  <FluentButton Appearance="@Appearance.Accent">Click Me</FluentButton>
</FluentCard>

<ul>
    @foreach (var c in UserService.GetUser().Claims)
    {
        <li>@c.Type         @c.Value</li>
    }
</ul>



