@page "/"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.Extensions.Http
@using Ubik.Accounting.Contracts.Accounts.Results
@using Ubik.Accounting.WebApp.ApiClients
@using Ubik.Accounting.WebApp.Security
@inject UserService UserService;
@inject IAccountingApiClient client
@attribute [Authorize]

<PageTitle>Home</PageTitle>

@* <h1>Hello, @(UserService.GetUser().Identity?.Name ?? "world")!</h1> *@

Welcome to your new app.
<ul>
    @foreach (var a in _accounts)
    {
        <li>@a</li>
    }
</ul>

<ul>
    @foreach (var c in UserService.GetUser().Claims)
    {
        <li>@c.Type         @c.Value</li>
    }
</ul>

@code {
    private IEnumerable<GetAllAccountsResult> _accounts = [];
    
    protected override async Task OnInitializedAsync()
    {
        _accounts = await client.GetAllAccountsAsync() ?? [];
    }
}

