<header class="z-10 sticky top-0 border-b border-b-gray-600 bg-gray-200 text-gray-800 dark:bg-gray-900 dark:text-white dark:border-b-gray-600 lg:flex lg:items-center lg:justify-between lg:px-4">
    <div class="flex items-center justify-between px-3 lg:p-0">
        <NavLink class="block px-1 py-2 text-blue-700 dark:text-blue-400" href="" Match="NavLinkMatch.All">
            <svg class="h-10 w-20 fill-current" viewBox="0 0 194 75.201" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M 0 47.4 L 0 4 L 9.5 4 L 9.5 45.9 A 39.482 39.482 0 0 0 9.9 51.711 Q 10.781 57.619 13.6 61.4 A 13.242 13.242 0 0 0 22.056 66.556 A 20.418 20.418 0 0 0 25.9 66.9 A 21.386 21.386 0 0 0 30.904 66.351 A 13.455 13.455 0 0 0 38.6 61.55 A 17.382 17.382 0 0 0 41.396 56.155 Q 42.186 53.736 42.531 50.794 A 42.042 42.042 0 0 0 42.8 45.9 L 42.8 4 L 52 4 L 52 47 A 39.957 39.957 0 0 1 51.378 54.231 A 28.663 28.663 0 0 1 48.75 62.15 Q 45.5 68.5 39.65 71.85 A 25.023 25.023 0 0 1 31.089 74.804 A 32.816 32.816 0 0 1 25.9 75.2 A 32.706 32.706 0 0 1 17.895 74.275 A 22.492 22.492 0 0 1 6.9 68 Q 0.788 61.623 0.09 50.381 A 48.096 48.096 0 0 1 0 47.4 Z M 194 69 L 187.8 75 L 160.9 47.3 L 160.9 74 L 151.9 74 L 151.9 0 L 160.9 0 L 160.9 42.3 L 184.4 21 L 189.6 26.7 L 169.5 44.5 L 194 69 Z M 75.9 69.7 L 75.9 74 L 67.5 74 L 67.5 0 L 76.5 0 L 76.5 27.4 Q 78.5 25.1 82.35 22.95 A 16.584 16.584 0 0 1 87.581 21.128 A 22.424 22.424 0 0 1 91.5 20.8 Q 97.5 20.8 102.75 23.95 A 22.329 22.329 0 0 1 109.928 30.917 A 27.464 27.464 0 0 1 111.2 33.05 Q 114.4 39 114.4 47.5 A 33.315 33.315 0 0 1 113.713 54.388 A 27.75 27.75 0 0 1 112.4 58.8 A 29.367 29.367 0 0 1 109.239 64.804 A 25.482 25.482 0 0 1 107.05 67.55 A 24.894 24.894 0 0 1 100.919 72.464 A 23.302 23.302 0 0 1 99.5 73.2 A 20.006 20.006 0 0 1 92.134 75.16 A 19.209 19.209 0 0 1 90.9 75.2 Q 86.4 75.2 82.45 73.55 A 30.274 30.274 0 0 1 79.148 71.942 Q 77.322 70.903 75.9 69.7 Z M 135.9 74 L 126.9 74 L 126.9 22 L 135.9 22 L 135.9 74 Z M 76.5 35.4 L 76.5 63.2 A 17.99 17.99 0 0 0 80.13 65.385 A 21.802 21.802 0 0 0 81.9 66.1 A 19.462 19.462 0 0 0 88.064 67.196 A 22.039 22.039 0 0 0 88.5 67.2 Q 93.4 67.2 97.15 64.8 Q 100.9 62.4 103.05 58 Q 105.2 53.6 105.2 47.8 Q 105.2 41.8 103.05 37.5 Q 100.9 33.2 97.35 30.9 Q 93.8 28.6 89.5 28.6 A 14.741 14.741 0 0 0 83.873 29.663 A 14.054 14.054 0 0 0 81.75 30.75 Q 78.3 32.9 76.5 35.4 Z M 127.037 11.288 A 5.973 5.973 0 0 0 131.4 13.1 A 8.175 8.175 0 0 0 132.896 12.969 A 5.647 5.647 0 0 0 136 11.35 Q 137.7 9.6 137.7 6.8 A 7.26 7.26 0 0 0 137.7 6.719 A 6.06 6.06 0 0 0 135.85 2.35 A 7.395 7.395 0 0 0 135.792 2.293 A 6.059 6.059 0 0 0 131.4 0.5 A 8.264 8.264 0 0 0 129.744 0.658 A 5.661 5.661 0 0 0 126.8 2.2 A 5.588 5.588 0 0 0 125.329 4.832 A 7.987 7.987 0 0 0 125.1 6.8 A 5.992 5.992 0 0 0 125.592 9.219 A 6.643 6.643 0 0 0 126.95 11.2 A 7.466 7.466 0 0 0 127.037 11.288 Z" vector-effect="non-scaling-stroke" />
            </svg>
        </NavLink>
        <div id="mobileMenu" class="lg:hidden">
            <button type="button" onclick="toggleNav()" class="block text-gray-600 hover:text-gray-900 focus:text-gray-900 dark:text-gray-500 dark:hover:text-white dark:focus:text-white">
                <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                    <path id="navCloseIcon" class="hidden" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z" />
                    <path id="navShowIcon" class="block" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
                </svg>
            </button>
        </div>
    </div>
    <div id="topNav" class="pt2 hidden items-center px-1 lg:flex">
        <div class="lg:hidden">
            <NavMenuMobile />
        </div>
        <div>
            <button id="theme-toggle" type="button" class="rounded-lg p-2.5 text-sm text-gray-600 hover:bg-gray-100 dark:text-gray-400 dark:hover:bg-gray-700">
                <svg id="theme-toggle-dark-icon" class="block h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path></svg>
                <svg id="theme-toggle-light-icon" class="hidden h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z" fill-rule="evenodd" clip-rule="evenodd"></path></svg>
            </button>
        </div>
        <LoginDisplay />
    </div>
</header>
