@using Microsoft.AspNetCore.Components.Authorization
<AuthorizeView>
    <Authorized>
        <form method="post" class="items-center" action="Account/Logout">
            <button type="submit" class="block font-semibold rounded hover:bg-white dark:hover:bg-gray-800 px-2 py-1">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="block font-semibold rounded hover:bg-white dark:hover:bg-gray-800 px-2 py-1" href="Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
