@using Ubik.Accounting.WebApp.Components.Layout
@inherits LayoutComponentBase

<Header />


<div class="flex">
    <div class="sm:w-[260px] bg-gradient-to-br hidden sm:block from-gray-800 to-gray-900 h-screen sticky">
        <NavMenu />
    </div>
    <main class="py-2 px-4">
        <article>
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
