@using Ubik.Accounting.WebApp.Components.Layout
@inherits LayoutComponentBase

<div class="bg-gray-100">
    <header class="bg-gray-900">
        <div class="flex items-center justify-between px-3 py-3 bg-gray-900">
            <div>
                <img class="h-10" src="img/blazor.svg" alt="Ubik" />
            </div>
            <div>
                <input type="checkbox" class="hidden" />
                <button type="button" onclick="toggleNav()" class="block text-gray-500 hover:text-white focus:text-white">
                    <svg class="h-6 w-6 fill-current" viewBox="0 0 24 24">
                        <path v-if="isNavOpen" fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z" />
                        <path v-if="!isNavOpen" fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z" />
                    </svg>
                </button>
            </div>
        </div>
        <div id="TopNav" class="px-1 pt2 pb-4">
            <NavMenu />
        </div>
    </header>
</div>

<script>
    export default {
        data() {
            return {
                isNavOpen: false,
            }
        },
    }
</script>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <LoginDisplay />
            <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
