@using Ubik.Accounting.WebApp.Components.Layout
@inherits LayoutComponentBase

<div class="flex h-screen flex-col">
    <Header />
    <main class="flex-1 flex overflow-hidden">
        <aside class="w-64 bg-gradient-to-br from-gray-800 to-gray-900 text-white p-4 hidden sm:block">
            <NavMenu />
        </aside>
        <article class="flex-1 bg-gradient-to-br from-gray-900 to-gray-950 overflow-x-hidden overflow-y-auto p-4">
            @Body
        </article>
    </main>
</div>


