<NavLink class="block text-white font-semibold rounded hover:bg-gray-800 px-2 py-1" onclick="toggleNav()" href="" Match="NavLinkMatch.All">
    <span>Home</span>
</NavLink>
<NavLink class="mt-1 block text-white font-semibold rounded hover:bg-gray-800 px-2 py-1" onclick="toggleNav()" href="counter">
    <span>Counter</span>
</NavLink>
<NavLink class="mt-1 block text-white font-semibold rounded hover:bg-gray-800 px-2 py-1" onclick="toggleNav()" href="weather">
    <span>Weather</span>
</NavLink>

