<NavLink class="block font-semibold rounded px-3 py-2 text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg p-2.5" href="" Match="NavLinkMatch.All">
    <span>Home</span>
</NavLink>
<NavLink class="mt-1 block font-semibold rounded px-3 py-2 text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg p-2.5" href="counter">
    <span>Counter</span>
</NavLink>
<NavLink class="mt-1 block font-semibold rounded px-3 py-2 text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg p-2.5" href="weather">
    <span>Weather</span>
</NavLink>
<NavLink class="mt-1 block font-semibold rounded px-3 py-2 text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg p-2.5" href="manageaccounts">
    <span>Accounts</span>
</NavLink>


