<NavLink class="block mt-1 font-semibold rounded px-2 py-1 text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg p-2.5" onclick="toggleNav()" href="" Match="NavLinkMatch.All">
    <span>Home</span>
</NavLink>
<NavLink class="block mt-1 font-semibold rounded px-2 py-1 text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg p-2.5" onclick="toggleNav()" href="booking-accounts">
    <span>Accounts</span>
</NavLink>
<NavLink class="block mt-1 font-semibold rounded px-2 py-1 text-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 rounded-lg p-2.5" onclick="toggleNav()" href="manage-classifications">
    <span>Classifications</span>
</NavLink>


