<NavLink class="block text-white font-semibold rounded hover:bg-gray-800 px-3 py-2" href="" Match="NavLinkMatch.All">
    <span>Home</span>
</NavLink>
<NavLink class="mt-1 block text-white font-semibold rounded hover:bg-gray-800 px-3 py-2" href="counter">
    <span>Counter</span>
</NavLink>
<NavLink class="mt-1 block text-white font-semibold rounded hover:bg-gray-800 px-3 py-2" href="weather">
    <span>Weather</span>
</NavLink>

