@page "/manageaccounts"
@using Ubik.Accounting.Contracts.Accounts.Results
@using Ubik.Accounting.Webapp.Shared.Facades
@using Ubik.Accounting.WebApp.Client.Components.Accounts

@attribute [Authorize]
@inject IHttpClientFactory Factory
@inject IRenderContext RenderContext
@inject IAccountingApiClient ClientContacts
@rendermode InteractiveAuto
@attribute [StreamRendering] 

<PageScript Src="./js/theme-switcher.js" />
<PageTitle>Manage accounts</PageTitle>
<h1>Manage booking accounts</h1>
<p class="mb-2">Manage the accounts used by your accounting system.</p>
<p class="mb-5">See the classification section if you want to define how the accounts are structured.</p>
<Accounts></Accounts>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        
    }
}
