<div class="flex flex-col p-4 mb-4 text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400">
    <div id="@_alertId" class="flex items-center" role="alert">
        <svg class="flex-shrink-0 w-10 h-10 fill-current" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <path fill-rule="evenodd" clip-rule="evenodd" d="M12 22c5.523 0 10-4.477 10-10S17.523 2 12 2 2 6.477 2 12s4.477 10 10 10zm-1.5-5.009c0-.867.659-1.491 1.491-1.491.85 0 1.509.624 1.509 1.491 0 .867-.659 1.509-1.509 1.509-.832 0-1.491-.642-1.491-1.509zM11.172 6a.5.5 0 0 0-.499.522l.306 7a.5.5 0 0 0 .5.478h1.043a.5.5 0 0 0 .5-.478l.305-7a.5.5 0 0 0-.5-.522h-1.655z" />
        </svg>
        <span class="sr-only">Error</span>
        <div class="ms-3 text-sm font-medium">
            <p class="text-red-800 dark:text-red-400 font-semibold">@MainErrorMsg</p>
            <p class="text-red-800 dark:text-red-400">A general error occurs, you can try to refresh.</p>
            <p class="text-red-800 dark:text-red-400">If the problem persists, please contact the support.</p>
        </div>
    </div>
    <div>
        <button type="button" onclick="location.reload()" class="text-white mt-3 bg-red-800 hover:bg-red-900 focus:ring-4 focus:outline-none focus:ring-red-300 font-medium rounded-lg text-xs px-3 py-1.5 me-2 text-center dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-800">
            Refresh
        </button>
    </div>
</div>

@code {
    [Parameter]
    public string MainErrorMsg { get; set; } = "General module error";

    private string _alertId = $"alert-error-{Guid.NewGuid()}";

}
